body{
    background-image: url("22.jpg");
backdrop-filter: blur(3px) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}


h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}.header {
    overflow: hidden;
    background-color: rgb(100,138,123);
    padding: 9px 9px;
  }
  
  .header img{
    height: 50px;
    width: 50px;
  }
  
 

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
  
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  

  .header a:hover {
    background-color: rgb(119, 106, 68);
    color: White;
   padding: 12px 10px 10px 10px;
    
  }
  
  .header a.active {
   
    color: white;
  }
  

  .header-Right {
    float: right;
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(80,138,113);
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #content{
    color: maroon;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
  }
  section{
    
    text-align: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 9%;
    margin-right: 5%;
    font-size: 150%;
    font-weight: oblique;
    
 
  }.sections p {
    text-align: center;
    font-family: 'Times New Roman', serif;
    margin: 0 15%;
    line-height: 1.0;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.logo img {
  width: 30px;  
  height: 30px;  
  display: block;
  margin: 0 auto;  
  transform: scale(2.0);
}

.footer {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(80, 138, 113);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0; 
  margin: 0; 
}
